/*Animations sur les items des menus */

.anim__zoom {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.4s ease-in-out 0s;
}

@media (min-width: 1000px) and (max-width: 1150px) {
    .french__chic__menu .anim__zoom:hover {
        transform: scale(1.2) !important;
        -ms-transform: scale(1.2) !important;
        -moz-transform: scale(1.2) !important;
        -webkit-transform: scale(1.2) !important;
        -o-transform: scale(1.2) !important;
    }
}

@media (min-width: 1000px) {
    .anim__zoom:hover {
        transition-duration: 0.5s;
        transform: scale(1.4) !important;
        -ms-transform: scale(1.4) !important;
        -moz-transform: scale(1.4) !important;
        -webkit-transform: scale(1.4) !important;
        -o-transform: scale(1.4) !important;
        opacity: 0.5 !important;
    }
}


/* Animations soulignement */


/* .enchanted__note:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2.5px;
    left: 50%;
    background: black;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
}

.enchanted__note:hover:after {
    width: 100%;
    left: 0;
}

.french__chic__menu:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2.5px;
    left: 50%;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
    background: #C67412;
}

.french__chic__menu:hover:after {
    width: 100%;
    left: 0;
} 


/* la note enchantée*/


/* ======================================== Ecrans de moins de 935px ======================================== */

@import url("https://fonts.googleapis.com/css?family=Courgette|Devonshire&display=swap");
@media (max-width: 935px) {
    .enchanted__note {
        width: 80%;
    }
}


/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .enchanted__note {
        width: 90%;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */

@media (max-width: 750px) {
    .enchanted__note {
        grid-auto-flow: column;
        padding: 0rem 0.4rem;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr;
    }
}


/* ====================================================================================================================== */

.enchanted__note {
    position: absolute;
    top: 12rem;
    left: 25%;
    display: grid;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
}


/*Le chic à la française */

@media (max-width: 935px) {
    .french__chic__menu {
        width: 80%;
    }
}


/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .french__chic__menu {
        width: 90%;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */

@media (max-width: 750px) {
    .french__chic__menu {
        grid-auto-flow: column;
        padding: 0rem 0.4rem;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr;
        grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
    }
}


/* ====================================================================================================================== */

.french__chic__menu {
    position: absolute;
    top: 15rem;
    right: -40%;
    display: grid;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem;
    padding-right: 3rem;
    grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
}


/*Le délices des papilles */

@media (max-width: 935px) {
    .taste__buds__menu {
        width: 80%;
    }
}


/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .taste__buds__menu {
        width: 90%;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */

@media (max-width: 750px) {
    .taste__buds__menu {
        grid-auto-flow: column;
        padding: 0rem 0.4rem;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr;
    }
}


/* ====================================================================================================================== */

.taste__buds__menu {
    position: absolute;
    top: 45rem;
    left: 25%;
    display: grid;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
}


/*La palette du goût */

@media (max-width: 935px) {
    .the__taste__palette {
        width: 80%;
    }
}


/* ======================================== Ecrans de moins de 800px ======================================== */

@media (max-width: 800px) {
    .the__taste__palette {
        width: 90%;
    }
}


/* ======================================== Ecrans de moins de 750px ======================================== */

@media (max-width: 750px) {
    .the__taste__palette {
        grid-auto-flow: column;
        padding: 0rem 0.4rem;
        grid-template-columns: 0.5fr 5fr 4fr 4fr 1.5fr 0.5fr;
    }
}


/* ====================================================================================================================== */

.the__taste__palette {
    position: absolute;
    top: 45rem;
    right: -40%;
    display: grid;
    margin: auto;
    width: 70%;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
}