/*CODE COULEUR - CHARTE GRAPHIQUE */


/* #9356DC - Primaire
#FF79DA - Secondaire
#99E2D0 - Tertiaire */

body {
    background-color: white;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

.card__img {
    height: 7rem;
    object-fit: cover;
    max-width: 25%;
    width: 25%;
    max-height: 10%;
    height: 10%;
    border-radius: 1rem 1rem 0 0;
}